header {
    background: #bbbbbb;
    padding: 20px 0;
}

.menu {
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 140px;
}

nav li {
    display: inline;    
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
